body{
    display: flex;
    flex-direction: column;
    background-image:url(../img/blue-curve-background/rm222batch2-mind-03.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;

}

.container {
    margin-top: 60px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    
}

.container .tableSection{
    position:  relative;
}

.container#display.active{
    filter:blur(20px);
    pointer-events:none;
    user-select: none;
}


.container2 {
    visibility: hidden;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    padding: 20px 30px;
    width:380px;
    position: absolute;
    top: 50%;
    left:50% ;
    transform: translate(-50%,-50%);
    
}

#form.active{
    visibility: visible;
}



#tableSection,
#formSection {
   
    margin-bottom: 20px; /* Add spacing between sections */
}



form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;

}

h1{
    font-family: 'Lilita One','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cadetblue;
    font-size: 5rem;
}

h2{
    font-family: 'Lilita One','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cadetblue;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#update-btn{
    margin-bottom: 20px;
}

#cancel{
    background-color: #0077b6; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

button {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker Green */
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button[type="button"] {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #45a049; /* Darker Green */
}




table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}
