body{
    display: flex;
    flex-direction: column;
    background-image:url(../img/blue-curve-background/rm222batch2-mind-03.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;

}

#maintenanceBody{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;

}

h1{
    font-family: 'Lilita One','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cadetblue;
    font-size: 5rem;
}

h2{
    font-family: 'Lilita One','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cadetblue;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-family: "Lilita One";
    display: flex;
    align-items: center;
    justify-content: center;
}

pre{
    font-family: "Lilita One";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#maintenance-form {
    display: none;
    max-width: 400px;
    margin: 0 auto;
}

button {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker Green */
}

#confirmationMessage {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

#requestForm {
    margin-top: 20px;
    align-content: center;
    font-family: 'Lilita One','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049; /* Darker Green */
}